.contenido-formacion{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    gap: 10rem;
}
.nombre-universidad{
    font-weight: bold;
}
@media print{
    .contenido-formacion{
        grid-template-columns: 200px,1fr;
        gap: 1rem;
    }
}