<h1 class="titulo-seccion">Formación</h1>
    <!-- SECCION FORMcion-->
    <div class="contenido-formacion">
    <div class="datos-fech-formacion">
        <h1>Ingeniero De Sistemas</h1>  
        
    </div>
    
    <div class="fech-ini-formacion">
        <td class="fecha">2017-2022</td>
        <p class="nombre-universidad">            
            Universidad Central
        </p>
    </div>
    <div class="datos-fech-formacion">
        <h1>Bachiller</h1>  
        
    </div>
    
    <div class="fech-ini-formacion">
        <td class="fecha">2011-2016</td>
        <p class="nombre-universidad">            
            Colegio Rodolfo Llinás
        </p>
    </div>



</div>

