<h1 class="titulo-seccion">Experiencia Laboral</h1>
<div class="contenido-explaboral">
    
    <div class="datos-fech-empresa">
        <h1>Desarrollador Java Junior</h1>
        <h2>BIT 512</h2>
        <td class="ciudad">Bogotá</td><br>
        <td class="fecha">2021-07- Actualidad</td>
    </div>
    <div class="cargo-ejercido">
        <p class="">
            Desarrollador JAVA Junior: Desarrollador en FrameWorkSpringBoot, Angular. Desarrollando aplicaciones WEB, y apis RESTFUL para clientes
            de la empresa, y como desarrollador para corregir errores (BUGS) en aplicaciones desplegadas en los siervidores de los clientes.

        </p>
    </div>
    <div class="datos-fech-empresa">
        <h1>Pasante</h1>
        <h2>Centro de Estudios
            Aeronáuticos CEA
            - Aeronáutica Civil
            de Colombia)</h2>
        <td class="ciudad">Bogotá</td><br>
        <td class="fecha">2020-08-2021-02</td>
    </div>
    <div class="cargo-ejercido">
        <p class="">
            Practica profesional como pasante: Ejerciendo
             actividades de Desarrollo de software para la visualización
              del proceso operacional de los de sistemas de comunicaciones, 
              navegación y vigilancia (CNS) para el apoyo en la 
              toma dedecisiones en colaboración (CDM),
             desarrollado con Java yJSF como Framework.

        </p>
    </div>

</div>
