<h1 class="titulo-seccion">Conocimientos</h1>
<div class="conocimientos">
    <div class="backend">
        <td class="back-content">JAVA</td>
        <td class="back-content"> SpringBoot</td>
        <td class="back-content">NodeJS</td>
        <td class="back-content">RESTFUL</td>
        <td class="back-content">Python(Basico)</td>
    </div>
    <div class="frontend">
        <td class="front-content">JavaScript</td>
        <td class="front-content">Angular</td>
        <td class="front-content">React(Basico)</td>
        <td class="front-content">Responsive</td>
        <td class="front-content">Consumo ApisRest</td>
    </div>
    <div class="db">
        <td class="front-content">Mysql</td>
        <td class="front-content">SQLServer</td>
        <td class="front-content">Oracle(Basico)</td>
        <td class="front-content">MongoDB</td>
    </div>
</div>