.app{
    display: flex;       
    gap: 1rem;
}

@media (min-width: 50px){
    .app{
        display: grid;
        grid-template-columns: 1fr;      
        
        gap: 1rem;
    }


}

@media (min-width: 550px){
    .app{
        display: grid;
        grid-template-columns: 1fr;        
        
        gap: 1rem;
    }



}
@media (min-width: 768px){
    .app{
        display: grid;
        grid-template-columns: 1fr;      
        
        gap: 1rem;
    }




}

@media (min-width: 1024px){

    .app{
        display: grid;
        grid-template-columns: 20rem 1fr;
        
        
        gap: 1rem;
    }

}
@media (min-width: 1200px){
    p{
        font-size: 500px;
    }
    .app{
        display: grid;
        grid-template-columns: 20rem 1fr;
        
        
        gap: 1rem;
    }
}
@media (min-width: 1600px){
    .app{
        display: grid;
        grid-template-columns: 20rem 1fr;
        
        
        gap: 1rem;
    }
}
@media print{
    .profesion{
        font-size: 40px;
    }
    .content-sidebar{
        grid-template-rows: 200px 120px 50px 50px  2fr 100px 1fr;
        margin: 1px;
        
    }
    .print-content-sidebar{
        color: red;
    }
}