
:host {     
    background-color: rgb(71, 97, 170);
    
}

.avatar {
    /* Rounded border */
    border-radius: 50%;
    height: 150px;
    width: 150px;
    //borde redondo
    border: 3px solid #f3f3f3;
    box-shadow: 1px 1px 10px 1px #EEEEEE;
    margin-top: 15px;
    margin: 0 auto;
}

.avatar__image {
    /* Rounded border */
    border-radius: 50%;

    /* Take full size */
    height: 100%;
    width: 100%;
}
.sidebar{
    display: grid;
    justify-items: center;
    color: white;
    
   
    
    //min-height:100vh;    
    }   
.content-sidebar{
    display: grid;

    margin: 20px;
    gap:0.3rem;
}
.profesion{
    font-size: 20px;
    margin: 5px;
    }
.contacto{
    margin: 3px;
}
.redes-sociales{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    a{
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
}
.correo{
    display: grid;
    grid-template-columns: repeat(2,30px);
}
.telefono{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

@media print{
    .profesion{
        font-size: 35px;
    }
    .content-sidebar{
        grid-template-rows: 200px 120px 50px 50px  2fr 100px 1fr;
        
        
    }

}