<div class="sidebar">

    <div class="content-sidebar">


        <div class="avatar">
            <app-skeleton-loader *ngIf="!loaded" Cwidth="150" Cheight="150" circle="true" >

            </app-skeleton-loader>
            <!-- Avatar image -->
            <img *ngIf="loaded" class="avatar__image"
                src="https://media.discordapp.net/attachments/381652327247118337/950539937256726578/WhatsApp_Image_2022-02-24_at_12.23.42_PM.jpeg?width=459&height=465" />
        </div>
        <app-about-me></app-about-me>

        <p class="profesion">Estudiante de Ingenieria de Sistemas</p>
        <div class="contacto">
            <div class="correo">
                <td><i class="fa-solid fa-envelope"></i></td>
                <td>danyda98@gmail.com</td>
            </div>
            <div class="telefono">
                <td><i class="fa-solid fa-mobile-screen-button"></i></td>
                <td>+57 311 8402540</td>
            </div>
        </div>
        <div class="me">
            <h1>Sobre mi</h1>
            <p class="print-content-sidebar">Soy estudiante de último
                semestre de Ingeniería de
                Sistemas en la Universidad Central.
                Me encuentro en proceso de postulación
                para grado. Poseo un buen desempeño académico, cuento
                conconocimientos en desarrollo Web con el FrameWork
                Spring Boot(Java), Java (JSF), entre otros lenguajes de
                programación y frameworks.
                En cuanto a mis habilidades personales y sociales,
                me destacó por mi actitud positiva y la capacidad para
                transmitir esta actitud a todo mi entorno social. Poseo aptitudes
                que me ayudan a desarrollar fácilmente mi capacidad deaprendizaje e identificar
                el comportamiento adecuado que el contexto o el escenario necesiten.
            </p>
        </div>
        <app-idioms></app-idioms>

        <app-intereses></app-intereses>
        <div class="redes-sociales" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
            <a href="https://www.linkedin.com/in/daniel-ramos-2346601a9/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/danielwt1"><i class="fa-brands fa-github"></i></a>
            <a href="https://gitlab.com/dramosg"><i class="fa-brands fa-gitlab"></i></a>
            <a href="https://www.instagram.com/danieldavidramos/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>